header{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

#headerrow{
    background: #000000d1;

}
nav{
    border-bottom: 2px solid rgb(73, 72, 72, 80%);
}

.backgroundimg{
    background-image: url(../img/header.jpg);
    background-position: center;
    color: white;
}

div .col-4.offset-4{
    text-align: center;
}

#cuizinehead img{
    width: 50px;
}

#cuizinehead{
    margin-bottom: 120px;
}

h3{
    margin-bottom: 0px;
}

#articlesimg img{
    height: 100px;
    width: 180px;
    margin-bottom: 1rem;
}

#footer-as ul{
    list-style-type: none;
}

#precedents-art a{
    color: black;
    text-decoration: none;
}

#button1 button{
    padding-right: 132px;
    border: solid;
}

#button2 button{
    padding-right: 89px;
    border: solid;
}
