@font-face {
    font-family: Oswald, sans-serif; 
    src: url('../fonts/Oswald-VariableFont_wght.ttf');
}

@font-face {
    font-family: Courgette; 
    src: url('../fonts/Courgette-Regular.ttf');
}

p{
    font-family: Oswald;
}

h1, h2, h3{
    font-family: Courgette;
}